@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap');

:root {
    --orange: #FF6000;
    --light-orage: #FF7B2B;
    --black: #2a2a2a;
    --white: #ffefe6;
    --gray: #939393;
    --psize: 24px;
    --standart-padding: 0 100px 0 100px;
    --lexend: 'Lexend', serif;
    --wendyOne: 'Wendy One', serif;
}