@import 'mixins';

body {
    background-color: white;
}

section {
    padding: var(--standart-padding);
    padding-top: 50px;
    width: 100%;
    @include toCenterHorisontalAndColumn();

    h1 {
        font-family: var(--lexend);
        font-size: 36px;
        font-weight: 700;
        @include InvertColorTextH1();
        text-align: center;
    }

    .container {
        padding-top: 40px;
        padding-bottom: 50px;
        width: 100%;
        @include toCenter();
        gap: 9%;
        flex-wrap: wrap;

        .item {
            
            margin-bottom: 9%;

            border-top-left-radius: 180px;
            border-top-right-radius: 180px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            width: 300px;
            height: auto;
            background-color: var(--white);
            border: 3px dashed var(--orange);

            padding: 24px 16px 24px 16px;

            @include toCenterHorisontalAndColumn();

            img {
                width: 250px;
                height: 250px;
            }
            
            h1 {
                font-size: 36px;
                font-weight: 500;
                padding-top: 15px
            }

            h2 {
                padding-top: 20px;
                font-family: var(--lexend);
                text-align: center;
                font-weight: 600;
                width: 90%;
            }

            .rating {
                @include toCenter();
                gap: 3px;
                padding-top: 20px;
                img {
                    width: 28px;
                    height: 28px;
                }

                p {
                    font-family: var(--lexend);
                    color: var(--gray);
                    font-weight: 400;
                    font-size: 24px
                }
            }

            .counter {
                @include toCenter();

                gap: 25px;
                padding: 20px 0 20px 0;
                h4 {
                    font-family: var(--lexend);
                    font-weight: 600;
                    font-size: 24px;
                }

                button {
                    width: 50px;
                    height: 50px;
                    font-size: 28px;
                    @include toCenter();
                    font-weight: 300;

                    &:last-child {
                        padding: 0;
                    }
                }
            }
            
            button {
                
                background-color: var(--orange);
                border: none;
                color: white;
                font-family: var(--lexend);
                font-size: 16px;
                border-radius: 50px;

                &:last-child {
                    text-transform: uppercase;
                    padding: 16px 36px 16px 36px;
                }
            }
        }
    }
}

footer {
    background-color: var(--white);
}