@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap");
:root {
  --orange: #FF6000;
  --light-orage: #FF7B2B;
  --black: #2a2a2a;
  --white: #ffefe6;
  --gray: #939393;
  --psize: 24px;
  --standart-padding: 0 100px 0 100px;
  --lexend: "Lexend", serif;
  --wendyOne: "Wendy One", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  max-width: 1600px;
}
footer .content {
  padding: var(--standart-padding);
  padding-top: 70px;
  display: flex;
}
footer .content .blocks {
  width: 100%;
  display: flex;
  gap: 10%;
}
footer .content .blocks .block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .content .blocks .block a {
  text-decoration: none;
  color: var(--gray);
  font-family: var(--lexend);
  font-size: 20px;
  font-weight: 400;
}
footer .content .blocks h2 {
  font-family: var(--wendyOne);
  font-size: 32px;
  color: var(--orange);
}
footer .content .blocks h2 span {
  color: var(--black);
}
footer .content .blocks p {
  font-family: var(--lexend);
  font-size: 20px;
  color: var(--gray);
}
footer .content h1 {
  padding-top: 0;
  font-family: var(--lexend);
  color: var(--orange);
  font-size: 36px;
  font-weight: 600;
}
footer img {
  width: 100%;
}
footer .socials {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}
footer .socials svg {
  width: 24px;
  height: 24px;
}

nav {
  width: 100%;
  height: 122px;
  padding: var(--standart-padding);
  display: flex;
  align-items: center;
}
nav .logo__block {
  width: 20%;
}
nav .logo__block h1 {
  font-family: var(--wendyOne);
  font-weight: 400;
  font-size: 32px;
  color: var(--orange);
}
nav .logo__block h1 span {
  color: var(--black);
}
nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
}
nav ul li {
  list-style-type: none;
  font-family: var(--lexend);
  line-height: 25px;
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  color: var(--gray);
  text-decoration: none;
}
nav ul li .chosen {
  color: var(--black);
}
nav .block__search {
  display: flex;
  gap: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
}

main {
  width: 100%;
  max-width: 1600px;
}