@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Wendy+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffefe6;
}

main {
    width: 100%;
    max-width: 1440px;
}

nav {
    width: 100%;
    height: 122px;
    display: flex;
    padding: 0 100px 0 100px;
    align-items: center;
}

nav .logo__block {
    width: 20%;
}

nav .logo__block h1 {
    font-family: 'Wendy One', serif;
    font-weight: 400;
    font-size: 32px;
    color: #ff6000;
}

nav .logo__block h1 span {
    color: #2a2a2a;
}

nav ul {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    font-family: "Lexend", serif;
    line-height: 25px;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: #939393;
    text-decoration: none;
}

.chosen {
    color: #2A2A2A;
}

.block__search {
    display: flex;
    gap: 20px;
}

.greeting__section {
    padding: 0 100px 0 100px;
    width: 100%;
    height: 450px;
    display: flex;
    margin-bottom: 150px;
}

.greeting__section .block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting__section .block h1 {
    font-family: 'Lexend', serif;
    font-weight: 800;
    font-size: 48px;
    color: #ff6000;
    width: 100%;
}

.greeting__section .block h1 span {
    color: #2a2a2a;
}

.block button {
    width: 250px;
    height: 48px;
    font-family: 'Lexend', serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    gap: 20px;
}

.block .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block button:nth-child(1) {
    background-color: #FF7B2B;
    color: white;
}

.block button:nth-child(2) {
    background-color: transparent;
    color: #FF6000;
    border: 2px solid #FF6000;
} 

.greeting__section .block:nth-child(2) {
    
    display: flex;
    justify-content: center;
    align-items: center;
}



.best-deliver__section {
    
    width: 100%;
    height: 1024px;
    background-color: white;
}

.our-adds {
    position: relative;
    top: -75px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0,0,0,.25);
    height: 150px;
    width: 85%;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.our-adds .block {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.our-adds .block .text__info {
    font-family: 'Lexend', serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.our-adds .block .text__info h2 {
    font-weight: 700;
    color: #2A2A2A;
}

.our-adds .block .text__info p {
    font-weight: 500;
    color: #939393;
}